Package: pardus-lightdm-greeter-ebaqr
Version: 1.0
Architecture: all
Maintainer: Ali Riza KESKIN <aliriza.keskin@pardus.org.tr>
Installed-Size: 17
Depends: gir1.2-webkit2-4.0
Section: misc
Priority: optional
Homepage: https://www.pardus.org.tr
Description: Pardus Greeter QR plugin
 Pardus greeter qr plugin
